* {
 /* margin: 0;
 padding: 0; */
 box-sizing: border-box;
}
body{
 font-family:poppins;

}
ul,nav{
 list-style: none;           
}
a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;            
}
header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  padding: 35px 100px 0;            
}
header h2{
  text-transform: uppercase;            
}
header nav{
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;            
}
header nav li{
 margin: 0 15px;
}
header nav li:first-child{
 margin-left: 0;
}
header nav li:last-child{
margin-right: 0;
}
@media(max-width:1000px){
header{
   padding: 20px 50px;            
 }            
}
@media(max-width:700px){
header{
  flex-direction: column;            
}
header h2{
 margin-bottom: 15px;
}
header nav li{
 margin: 0 7px;             
}            
}
/* banner-area */
section {
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 110px 100px;
}
@media(max-width:1000px){
section{
  padding: 100px 50px;            
 }
}
@media(max-width:600px){
section{
 padding: 125px 30px;            
 }
}
section{
 max-width: 800px;
 text-align: center;
 margin-bottom: 35px;
 padding: 0 20px;
 line-height: 2;             
}
.banner-area {
 position: relative;
 justify-content: center;
 min-height: 100vh;
 color: rgb(230, 218, 218);
 text-align: center;
 }

.banner-area .banner-img{
 background-image: url("../images/background-image.jpg");
 background-color:  #E5E5E5;;
 position: absolute;
 top: 0;
 left: 0;
 width: 1500px;
 height: 800px;
 -webkit-background-size: cover;
 background-size: cover;
 z-index: 5;
 
}
.banner-area .child {
background-image: url("../images/Group 24.png");
height: 50%;
width: 50%;
transition: transform 1s ease-in;
background-color: #FFFFFF;
}
.banner-area .banner-img img{
  transition: all 3s;
  margin-top: 20%;
}
.banner-area:hover .child{
animation-play-state: paused;
}
@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateY(100%);
    }
  66% {
    transform: translateX(100%) translateY(100%);
      }

  100% {
    transform: translateX(100%);
  }
}
  
